{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>{% block title %}Log In{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log In</button>
    </form>
    {% load socialaccount %}
    <!-- Google SSO button -->
    <a href="{% provider_login_url 'google' %}" class="btn btn-primary">
        <img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png" alt="Google Login">
    </a>
    <br>
    <a href="{% url 'signup' %}">Don't have an account? Sign up here</a>
    {% endblock %}
</body>
</html>

